*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********universal*************/
html{scroll-behavior: smooth;}

.active{
    color: #0ec46f !important;
}
.title{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
   
}
#soulignage{
    width: 100px;
    background-color: #0ec46f;
    height: 4px;
   

}

/**************header***************/
header{
    width: 100%;
    position: fixed;
    z-index: 99;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-brand{
    font-size: 26px !important;
    font-weight: bold;
    color: rgb(14, 196, 111) !important;
}
.nav-link {
    color: #fff !important;
    margin: 15px;
}


.nav-item{position: relative;white-space: nowrap;}

.nav-item a{
    color: #fff !important;
    margin: 6px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #0ec46f !important;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav a:hover::before,
.navbar-nav li:hover > a::before,
.navbar-nav .active > a::before{
    visibility: visible;
    width: 100%;
}
.nav-item a:hover,
.nav-item .active > a,
.nav-item li:hover > a{
    color: #0ec46f !important;
}

.banner{
    background:linear-gradient(rgba(0, 0, 0, 0.218), rgba(0, 0, 0, 0.218)),
    url('assets/img/banner.jpg');
    background-position:center;
    background-size: cover;
    padding: 180px 0px;
    width: 100%;
    height: 100vh
}
.banner .item {
    display: flex;
align-items: center;
position: absolute;
bottom: 30px;
margin:1px 5px;
/* min-height: 50vh */;
}
.banner .item .cover{
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 15px;
    padding: 20px;
    width: 60%;
}
.banner .item-header h2{
    font-weight: 700;
    font-size: 32px;
    color: #0ec46f !important;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 40px;
}
.banner .item-desc p{
    color: #fff;
    font-family: 'Anek Latin', sans-serif;
    line-height:25px;
    font-size: 18px;

}
.banner .item-btn .btn{
    background: #0ec46f;
    color: #fff;
    border-radius: 5px;
}
.banner .item-btn .btn:hover{
    background: #0ec46f7a;
}


/*****about******/
.about{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.about-img img{
    width: 100%;
}
.about-title{
    margin: 30px 2px;
}
.about-text p{
    height: 50vh;
align-items: center;
justify-content: center;
display: flex;
font-size: 20px;

   
    font-weight: 100;
   font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica  Neue', sans-serif;
}

/***ours section*/
.ours_services{
    background: darkslategrey;
    padding: 20px;
    text-align: center;
    margin: 50px 0px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.icon-bar{
    width: 80px;
    height: 80px;
    background-color: darkslategrey;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.ours_services h5{
    font-weight: 600;
    margin: 30px 0px;
    color: #0ec46f;
}
.icon-box i{
    font-size: 32px;
}
.custom-card{
    align-items: center;
    color:#fff;
    padding: 15px;
    margin: 30px 1px;
    transition: all 0.4s ease;
    background-color: darkslategray;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.custom-card:hover{
    box-shadow: -1px 4px 10px 1px;
    transform: translateY(-5px);
}
.custom-link{
    text-decoration: none;
    color: #0ec46f;
    font-weight: 600;
    
}
.section-intro .title{
    color: #fff !important;
    text-align: left;
}

/*****contact form******/
.contact-form{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('assets/img/banner.jpg');
    background-size: cover;
}
.contact-form .head-tags{
    color: #fff;
}
.contact-form .head-tags h1{
    font-weight: 500;
}
.contact-form .head-tags p{
    font-weight: 100;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail{
    padding: 10px;
    cursor: pointer;
}
.detail span{
    color: #fff;
}
.detail .bx{
    font-size: 30px;
color: #0ec46f;
padding: 5px;
}
.social-icons i{
    color: #fff;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.social-icons i:hover{
    background-color: #0ec46f7a;
}
.contact-about{
    font-size: 17px;
    color: #fff !important;
}
.contact-about span a{
    text-decoration: none;
}
/*form*/
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    
}
input,textarea{
    background-color: rgba(255, 255, 255, 0.473) !important;
}

/*testimonial*/
.testimonial{
    background-color: bisque;
    height: 100vh;
}
.big-box {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    margin: 2px 1px;
    width: 100%;
   
    overflow: hidden;
    text-align: center;
}
.big-box .img-box img{
    height: 300px;
    width: 100%;
}
.text-box p{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.carousel-control-prev{
    display: block;
    bottom: 0;
}


/************partenaire***********/
.partenaire .item{display: flex;align-items: center;}

.partenaire .item img {width: 270px;height: 200px;margin: 10px auto;}

/*******testimonial**********/
.testimonial .carousel{margin-top: 20px;}

.carousel-item{background: #0e1532;border-radius: 8px;height: 270px;}

.carousel-item span{color: #555554;}

.carousel-item .media-body{margin-top: 1.5rem;}

.carousel-item #text{text-align: center;color: #fff;font-size: 18px;margin: 10px ;}

.overview{color: #dfcc03;}

.tt{
    height: 100vh;
    padding: 50px;
}

/***********responsive*************/
/*test*/
@media (max-width:740px){
    .contact-form{
        flex-direction: column;
        height: fit-content;
        padding: 35px;
    }
    .social-icons{
        margin-bottom: 20px;
    }
}
@media (max-width:960px){
    .big-box{
        display: flex;
        flex-direction: column;
        text-align: center;
       
    }
    .text-box{
        margin-top: 50px;
    }
    .form{
        margin: 1px auto;
    }
    .details{
        text-align: center;
    }
    .icon-box i{
        font-size: 21px;
    }
    .navbar-collapse{
        text-align: center;
        align-items: center;
        height: 100vh;
    }
    .nav-item a{
        margin-top: 8vh;
    }
    
    .banner .item .cover{
       
        width: 100%;
    }

    /*about*/
    .about-text{
        margin: 30px 0px;
        font-size: 18px;
        width: 100%;
    }
    .about-text p{
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
    .item{
        display: flex;
        justify-content: center;
    }

}


@media (max-width:325px){
    .navbar-brand{
        font-size: 22px !important;
    }
}
