*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********universal*************/
html{
    scroll-behavior: smooth;
}
.title{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
}
#soulignage{
    width: 100px;
    background-color: #0ec46f;
    height: 4px;
}

/********Header********/
header{
    width: 100%;
    position: fixed;
    z-index: 99;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-brand{
    font-size: 26px !important;
    font-weight: bold;
    color: rgb(14, 196, 111) !important;
}
.nav-link {
    color: #fff !important;
    margin: 15px;
}
.nav-item{position: relative;white-space: nowrap;}

.nav-item a{
    color: #fff !important;
    margin: 6px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #0ec46f !important;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav a:hover::before,
.navbar-nav li:hover > a::before,
.navbar-nav .active > a::before{
    visibility: visible;
    width: 100%;
}
.nav-item a:hover,
.nav-item .active > a,
.nav-item li:hover > a{
    color: #0ec46f !important;
}
/**********Banner********/
.banner{
    background:linear-gradient(rgba(0, 0, 0, 0.218), rgba(0, 0, 0, 0.218)),
    url('assets/img/banner.jpg');
    background-position:center;
    background-size: cover;
    padding: 180px 0px;
    width: 100%;
    height: 100vh
}
.banner .item{
    position: absolute;
    bottom: 40px;
    left: 2rem;
    margin: 1px 10px;
}
.banner .item-header h2{
    font-weight: 700;
    font-size: 32px;
    color: #0ec46f !important;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 40px;
}
.banner .item .cover{
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 15px;
    padding: 20px;
    width: 60%;
}
.banner .item-desc p{
    color: #fff;
    font-family: 'Anek Latin', sans-serif;
    line-height:25px;
    font-size: 18px;

}
.banner .item-btn .btn{
    background: #0ec46f;
    color: #fff;
    border-radius: 5px;
}
.banner .item-btn .btn:hover{
    background: #0ec46f7a;
}

/*********About************/
.about{
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.about-text p{
    font-size: 18px;
    font-weight: 200;
}

/********Ours_services*********/
.ours_services{
    background: darkslategrey;
    min-height: 100vh;
}
.ours_services .icon-bar{
    width: 90px;
    height: 90px;
    color: #fff;
    margin-top: 20px;
}
.ours_services .icon-box i{
    font-size: 32px;
}
.ours_services h5{
    font-weight: 600;
    color: #0ec46f;
}
.ours_services .custom-card{
    color:#fff;
    padding: 15px;
    transition: all 0.4s ease;
    border-radius: 5px;  
}
.ours_services .custom-card:hover{
    box-shadow: -1px 4px 10px 1px;
    transform: translateY(-25px);
}
.ours_services .custom-card .custom-link{
    text-decoration: none;
    color: #0ec46f;
    font-weight: 600;
}
.ours_services .custom-card .custom-link:hover{
    color: #0e1532 !important;
}

/*******Testimonial********/
.testimonial{
    background-color: bisque;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.testimonial .big-box {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    margin: 21px 150px;
}
.testimonial .big-box .img-box img{
    height: 300px;
}
.testimonial .text-box p{
    margin-left: 50px;
}
/*****contact form******/
.contact-form{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('assets/img/banner.jpg');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
/**desactiver**/
.contact-form .head-tags{
    color: #fff;
}
.contact-form .head-tags h1{
    font-weight: 500;
}
.contact-form .head-tags p{
    font-weight: 100;
}
.detail span{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.detail span a{
    text-decoration: none;
    color: #fff !important;
}
.detail .fa{
    color: #0ec46f;
    font-size: 28px;
    margin-right: 10px;
}
.contact-form .form{
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}
.contact-form .form button{
    background-color: #0ec46f;
    border: none;
    font-weight: bold;
}
.contact-form .form button:hover{
    background-color: #0ec46f7b;
}
.contact-form input,textarea{
    background-color: rgba(255, 255, 255, 0.473) !important;
}






/************partenaire***********/
/* .partenaire .item{display: flex;align-items: center;}

.partenaire .item img {width: 270px;height: 200px;margin: 10px auto;} */


/***actualites*/
/* .actualites .item{
    background-color: #0e1532;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    height: 300px;
    margin: 15px auto;
}
*/

.tt{
    height: 100vh;
    padding: 50px;
}

/***********responsive*************/
@media (max-width:992px){

     /*******Testimonial********/
     .testimonial .big-box {
        margin: 21px 50px;
    }
    .testimonial .text-box p {
        margin-left: 0px;
        margin-bottom: 30px;
        color: #0e1532;
      }
}

@media (max-width:960px){

    /*******Header******/
    .navbar-collapse{
        height: 100vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav {
        margin-left: 0;
    }
    .nav-item{
        margin: 50px;
    }

    /*********Banner******/
    .banner .item{
        left: 0;
    }
    .banner .item .cover{
        width: 100%;
    }

    /********about********/
     .about-text p{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .about-title{
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .about-img img{
        height: 300px;
    }

    /******Ours_services******/
    .ours_services .custom-card{
        margin-top: 30px;
    }
    .ours_services .custom-card:last-child{
        margin-bottom: 30px;
    }
    
    /*******Testimonial********/
    .testimonial .big-box {
        margin: 21px 10px;
    }
    .testimonial img{
        height: 200px !important;
    }
    .testimonial .big-box .text-box{
        margin-top: 50px;
    }

}

@media (max-width:325px){
    .navbar-brand{
        font-size: 22px !important;
    }
}
